* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    font-weight: 100;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: var(--font-poppins), sans-serif;
    font-weight: 700;
    
}


.menuLateral {
    width: 17rem;
    border: 1px solid #ccc;
} 

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.menuIcon {
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.menuIcon:hover {
    cursor: pointer;
    background-color: rgb(229, 232, 243);
}

.menuIcon-strong {
    text-shadow: 0 0 0.5px currentColor;
}

.opcoesMenuLateral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.opcoesMenuLateral li {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    margin: 0.3rem;
    color: rgb(71, 85, 105);

}

li.active {
    background-color: #1f873c;
    color: rgb(255, 255, 255);
}

li.noActive:hover {
    background-color: #ccf0d58c;
    cursor: pointer;
}



.container {
    width: 100vw;
    height: 100vh;
    background-color: hsla(214, 32%, 91%, 1);
}

.header {
    height: 5rem;
    background-color: #fff;
    padding: 0.5rem 1rem;    
    display: flex;
    gap: 1rem;
}

.header h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.header p {
    font-size: 0.8rem;
    color: rgb(71, 85, 105);
    font-weight: 500;
}

.header i {
    border: 1px solid green;
    color: #fff;
    background-color: #1f873c;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.modalList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: start;
}

.modalItem {
    background-color: #d5e0d8;
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.liModalAtivo {
    background-color: #1f873c;
    color: #fff;
}

.react-datepicker {
  border: none !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  font-family: "Inter", sans-serif;
  width: 20rem !important;
  height: 21rem !important;
  max-width: 100% !important;  
}

.react-datepicker__month {
  width: 100% !important;
  margin: 0rem !important;
}

.react-datepicker__header {
  background: white !important;
  border-bottom: none !important;
  padding: 12px 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  display: flex !important;
  flex-direction: column  !important;
  width: 20rem !important;
  gap: 0.2rem !important;
}

.react-datepicker__current-month {
  font-size: 1.3rem !important;
  font-weight: 700;
  color: #111827;
  margin: 0; 
}

.react-datepicker__navigation {
  transform: translateY(10%); 
  width: 2rem !important;
  height: 2rem !important;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 0.6rem;
}

.react-datepicker__navigation:hover {
  background: #edf1f8; 
;
}

.react-datepicker__navigation-icon::before {
  border-color: #111827 !important;
  border-width: 3px 3px 0 0 !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
}

.react-datepicker__day-names {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 0.4rem;
  width: 100%;
  background-color: #e9e7e7 ;
  }

.react-datepicker__day-name {
  width: 2rem !important;
  height: 2rem !important;
  line-height: 2rem !important;
  font-size: 1rem;
  font-weight: 500;
  color: #9ca3af;
  text-align: center !important; 
  
}

.react-datepicker__week {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr); 
  width: 100%;
}


.react-datepicker__day {
  width: 2rem !important;   
  height: 2rem !important;
  line-height: 2rem !important;
  margin: 0.3rem !important;
  text-align: center !important;
  border-radius: 0.6rem;
  font-size: 1.1rem;
  color: #374151;
  transition: all 0.2s ease-in-out;
}

.react-datepicker__day:hover {
  background: #f3f4f6;
  cursor: pointer;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #111827 !important;
  color: white !important;
  font-weight: 600;
  text-align: center !important;
}

.react-datepicker__day--today {
  border: 1px solid #d1d5db;
  border-radius: 0.6rem;
  
}

.react-datepicker__day--outside-month {
  color: #c5c6c7 !important;
  font-weight: 400 !important;
}


.iconTrash {
    width: 2.5rem;
    height: 2.5rem;
    color: #dc2626; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    margin-right: 0.2rem;
}

.iconTrash:hover {
    background-color: #eeafaf; 
}

.iconPencil {
    width: 2.5rem;
    height: 2.5rem;
    color: #0d6efd; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.iconPencil:hover {
    background-color: #a5c8ff; 
}

.iconArrowDown {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #fca5a5; 
    color: #dc2626;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.iconArrowUp {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #86efac; 
    color: #16a34a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}