.main {
    padding: 1.2rem;
}

.cardFiltro {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 3rem;
    
}

.cardFiltro i {
    color: #0d6efd;
}

.groupInputs {
    /* border: 1px solid aqua; */
    display: flex;
    gap: 1rem;
    width: 60rem;
    /* justify-content: space-between;*/
} 

.inputPesquisar {
    position: relative;
    display: flex;
    align-items: center;
}

.inputPesquisar i {
    position: absolute;
    left: 1rem;
    color: #000000;
    font-size: 1rem;
}

.inputPesquisar input {
    width: 30rem;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.inputPeriodo {
    position: relative;
    display: flex;
    align-items: center;
}

.inputPeriodo i {
    margin-left: 1rem;
    font-size: 1rem;
    color: #000;
}

.inputPeriodo button {
    width: 15rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputCategoria {
    position: relative;
    display: flex;
    align-items: center;
}

.inputCategoria button {
    width: 13rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputCategoria i {
    margin-left: 1rem;
    font-size: 1rem;
    color: #000;
}

.containerDate {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0rem;
    border: 1px solid #ccc;
}

.inputDate{
    /* border: 1px solid #d01919; */
    border: none;
    height: 2.5rem;
    width: 27rem;
    padding-left: 0.5rem;
}